<section class="services">

	<div class="inner-container">
		<h2>Other services we offer</h2>
	</div>

	<div class="services__container">
		<div class="services__container__single-item">
			<div class="services__container__single-item__content first-service">
				<h3>We buy your used luxury car ™</h3>
				<p>
					Ever thought of selling your precious car but realized that the fees on all other platforms are too high?
					<br><br>
					<b>Don’t worry anymore</b>, if you go with us we’ll make you an offer you can’t refuse!
				</p>
				<a href="{{ function('get_site_url') }}/contact-us" class="primary-button">
					Contact us
					<i class="fa-solid fa-arrow-right"></i>
				</a>
			</div>
		</div>

		<div class="services__container__single-item">
			<div class="services__container__single-item__content second-service">
				<h3>We repair your luxury car ™</h3>
				<p>
					Finding a dealership with original luxury car components is not an easy feat, and repairing a luxury car is neither.
					<br><br>
					Dont risk it, let the professionals handle it!
				</p>
				<a href="{{ function('get_site_url') }}/contact-us" class="primary-button">
					Contact us
					<i class="fa-solid fa-arrow-right"></i>
				</a>
			</div>
		</div>
	</div>

</section>
