<main id="contact-us">
    <section class="contact-us">
        <div class="contact-us__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4972.539271115339!2d-0.1192294!3d51.4532057!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876046b724984b1%3A0xb78dc77aa021fc57!2s37%20Arlingford%20Rd%2C%20London%20SW2%202SS%2C%20UK!5e0!3m2!1sen!2sit!4v1659095662509!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="contact-us__info">
            <h1>Contact us</h1>

            {{ function('do_shortcode', '[contact-form-7 id="46" title="Contact us"]') }}

            <div class="contact-us__info__details">
                <!--<h2>Contact details</h2>-->
                <p><b>Phone number: </b> <a href="tel:+393515662002">+39 351 566 2002</a></p>
                <p><b>Email address: </b> <a href="mailto:admin@belottidigital.com">admin@belottidigital.com</a></p>
                <p><b>Our location: </b> <a href="https://goo.gl/maps/6XuhoCLUAhh35HCm9" target="_blank">37 Arlingford Rd, London, UK</a></p>
                <p><b>Business hours: </b> 24/7 Mon-Saturday</p>
            </div>
        </div>
    </section>
</main>