.hero {
    background-image: url("../images/front-page-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 100vh;
    height: calc(100vh - 210px);

    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0px 10px;

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    #search-car-form {
        input {
            width: 580px;
            padding-right: 65px;
            padding: 10px 20px;
            border: none;
            border-radius: 24px;

            z-index: 1000;
            position: relative;
            filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
        }

        input:focus {
            outline: none;
        }

        input::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $secondary-color;
            opacity: 1; /* Firefox */
        }

        input:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $secondary-color;
        }

        input::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $secondary-color;
        }

        // This code is responsible for the magic search input
        .search-input {
            position: relative;
            margin: 0 auto;
            width: max-content;

            input {
                transform: translateX(60px);
                display: inline-block;
            }

            button {
                width: 120px;
                transform: translateX(-60px);
                display: inline-block;

                position: relative;
                z-index: 1001;
            }

            .search-box {
                z-index: 0;
                background-color: #fff;
                color: $primary-color;
                width: 580px;
                position: absolute;
                padding-top: 32px;
                left: 50%;
                top: 100%;
                top: calc(100% - 22px);
                outline: 2px solid #fff;
                transform: translateX(-50%);
                border-radius: 0px 0px 22px 22px;
                padding-left: 18px;
                padding-right: 18px;
                padding-bottom: 18px;
                opacity: 0;
                transition: opacity 0.2s;

                display: flex;
                flex-direction: column;
                gap: 10px;

                &__search-result {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;

                    img {
                        aspect-ratio: 16/9;
                        height: 40px;
                        width: auto;
                        display: block;
                        margin-right: 10px;
                    }

                    p {
                        margin: 0px;
                        text-align: left;
                    }

                    .fa-solid.fa-arrow-right {
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        position: absolute;
                        opacity: 0;
                        transition: opacity 0.2s;
                        background-color: #fff;
                        padding-left: 6px;
                    }
                }

                &__search-result:hover {
                    .fa-solid.fa-arrow-right {
                        opacity: 1;
                    }
                }
            }

            .search-box.active {
                opacity: 1;
            }
        }

        p {
            margin-top: 10px;
            font-size: 14px;
            text-align: center;
        }
    }
}

@media screen and (max-width: $md) {
    .hero {
        #search-car-form {
            input {
                width: 320px;
            }

            .search-input {
                input {
                    transform: translateX(60px);
                }

                button {
                    width: 120px;
                    transform: translateX(-60px);
                }

                .search-box {
                    width: 320px;
                }
            }
        }
    }
}

@media screen and (max-width: $sm) {
    .hero {
        #search-car-form {
            input {
                width: 280px;
            }

            .search-input {
                input {
                    transform: translateX(0px);
                }

                button {
                    position: absolute;
                    transform: translateX(-120px);
                }

                .search-box {
                    width: 280px;
                    outline: none;
                }
            }
        }
    }
}
